<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <p style="text-align: center;"><strong>Программа подсчета символов в строке</strong></p>
  <p style="text-align: justify; padding-left: 30px;">Производится подсчет буквенно-цифровых символов переданной строки (не более 140 символов)</p>
  <p style="text-align: justify; padding-left: 30px;">Документация по адресу: <a href="http://localhost:8080/swagger-ui/index.html">http://localhost:8080/swagger-ui/index.html</a></p>
  <p style="text-align: justify; padding-left: 30px;">&nbsp;</p>
  <p style="text-align: justify; padding-left: 30px;">&nbsp;</p>

</body>
</html>